<header> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <img class="nav-logo" src="/image/logo.png" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active-nav ">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item ">
                    <a class="nav-link" href="#">Présentation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Notre carte</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('jeuUserList') }}">Nos jeux</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('user_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            {% else %}
             <li class="nav-item">
                    <a href="{{ path('user_inscription') }}" class="nav-link">Inscription</a>
                </li>
                 <li class="nav-item">
                    <a href="{{ path('user_login') }}" class="nav-link">Connexion</a>
                </li>
            {% endif %}
            </ul>
            </ul>
        </div>
    </nav>
    
    {# <div id="sidebar">
        <div class="social facebook">
            <a href="https://www.facebook.com/mapoulperie/" target="_blank">
            <p>Le Facebook <i class="fab fa-facebook-f"></i> </p>
            </a>
        </div>
        <div class="social twitter">
            <a href="https://twitter.com/mapoulperie?lang=fr" target="_blank">
            <p>Le Twitter <i class="fab fa-twitter"></i> </p>
            </a>
        </div>
        <div class="social phone">
            <a href="tel:0324290078" target="_blank">
            <p> 03 24 29 00 78 <i class="fas fa-phone"></i> </p>
            </a>
        </div>
        <div class="social location">
            <a href="https://www.google.com/maps/place/Ma+Poulperie/@49.7750205,4.7184217,18.27z/data=!4m5!3m4!1s0x47ea0f06dec52567:0xe1fdb7d385e8e4c1!8m2!3d49.7753206!4d4.7187158" target="_blank">
            <p>Nous trouver<i class="fas fa-map-marker-alt"></i> </p>
            </a>
        </div>
        <div class="social contact">
            <a href="/contact">
            <p>Nous contacter<i class="fas fa-paper-plane"></i> </p>
            </a>
        </div>
    </div>

    <div id="responsive-social">
    <div class="row">
        <div class="responsive-social-bar responsive-facebook" onClick="location.href='https://www.facebook.com/mapoulperie/'">  
            <p><i class="fab fa-facebook-f"></i></p>
        </div>
        <div class="responsive-social-bar responsive-twitter" onClick="location.href='https://twitter.com/mapoulperie?lang=fr'">
            <p><i class="fab fa-twitter"></i> </p>
        </div>
        <div class="responsive-social-bar responsive-phone" onClick="location.href='tel:0324290078'">
            <p><i class="fas fa-phone"></i> </p>
        </div>
        <div class="responsive-social-bar responsive-location" onClick="location.href='https://www.google.com/maps/place/Ma+Poulperie/@49.7750205,4.7184217,18.27z/data=!4m5!3m4!1s0x47ea0f06dec52567:0xe1fdb7d385e8e4c1!8m2!3d49.7753206!4d4.7187158'">
            <p><i class="fas fa-map-marker-alt"></i></p>
        </div>
        <div class="responsive-social-bar responsive-contact" onClick="location.href='/contact'">
            <p><i class="fas fa-paper-plane"></i> </p>
        </div>    
    </div>
    </div> #}
</header>